@charset "UTF-8";

/*
Minha Paleta de cores 1
rosa: #FA0986
Lilás: #AC309C

Minha Paleta de cores 2
rosa: #FA0986
Lilás: #9C14DE
Azul: #3518DE
azul claro: #ACD5FF

Paleta de cores Guanabara
Verde: #49a09d
Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color:#FA0986;
    height: 100vh;
    width: 100vw;
    
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /* isso é, tudo o que ficar fora da borda vai ficar escondido */

    background-color:white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, height .3s;
}

section#login > div#imagem {
    display: block;
    background: #FA0986 url(../imagens/flor-cerejeira.jpg) no-repeat;
    background-size: cover;
    background-position: right top;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}